.manutencao {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 50px;
    flex-direction: row;
    font-family: Poppins,sans-serif;

        .manutencao-container {
            max-width: 1536px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .conteudo-dinamico {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
        
        .box-manutencao {
            display: flex;
            justify-content: center;
            // align-items: ;
            flex-direction: column;
            margin-bottom: 4rem;
            line-height: 1.25;
            font-size: 2.25rem;
            --tw-text-opacity: 1;
            color: rgba(24,24,27,var(--tw-text-opacity));
            letter-spacing: .025em;
            font-weight: inherit;
            max-width: 600px;
            width: 50%;
            height: 600px;
            margin: 0 auto;
            // overflow: hidden;

            @media(max-width: 950px) {
                width: 100%;
            }


            .img-sensor {
                max-width: 100% ;
            }

            .img-dinamico {
                display: flex;
                justify-content: center;
                // padding-bottom: 40px;
            }

            h4 {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            

            h3 {
                --tw-text-opacity: 1;
                color: rgba(37,99,235,var(--tw-text-opacity));
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.75rem;
                font-size: 1.125rem;
                margin-bottom: 1rem;
                }
    
            h1 {
                margin-bottom: 4rem;
                line-height: 1.25;
                font-size: 2.25rem;
                // padding-right: 150px;
            }
            
            li {
                --tw-text-opacity: 1;
                color: rgba(161,161,170,var(--tw-text-opacity));
                display: flex;
                margin-top: .75rem;
                margin-bottom: .75rem;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.75rem;
                align-items: center;
                cursor: pointer;
                
                &::before {
                    content: '●' + ' ';
                    margin-right: 5px;
                    --tw-ring-inset: var(--tw-empty, );
                    --tw-ring-offset-width: 0px;
                    --tw-ring-offset-color: #fff;
                    --tw-ring-offset-shadow: 0 0 #0000;
                    --tw-ring-shadow: 0 0 #0000;
                    color: rgba(59,130,246,0.5);
                }
            }

            li:hover {
                color: rgb(53, 53, 58);
            }

            .lista-atual {
                color: rgb(17, 17, 19);
            }

            p {
                font-size: 1rem;
                line-height: 24px;
                text-align: left;
                max-width: 32rem;
                // font-weight: 400;
            }
        }

}