.melhore {
    position: relative;
    font-family: Poppins, sans-serif;
    // padding: 50px;
   

    .melhore-container {
        max-width: 640px;
        width: 100%;
        display: flex;
        // padding: 50px;
        flex-direction: column;
        margin: 0 auto;
        // justify-content: center;

    
            h1 {
                font-size: 2.25rem;
                line-height: 2.5rem;
                --tw-text-opacity: 1;
                color: rgba(24,24,27,var(--tw-text-opacity));
                letter-spacing: -.025em;
                text-align: center;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                font-weight: inherit;
            }

            p{
                --tw-text-opacity: 1;
                color: rgba(82,82,91,var(--tw-text-opacity));   
                text-align: center;
                margin: 0;
            }

            form {
                padding: 1.5rem;
                --tw-gradient-to: #1e40af;
                --tw-gradient-from: #2563eb;
                --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(37,99,235,0));
                background-image: linear-gradient(to left,var(--tw-gradient-stops));
                border-radius: .75rem;
                max-width: 100%;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                display: flex;
                flex-direction: column;
                
                span {
                    --tw-text-opacity: 1;
                    color: rgba(255,255,255,var(--tw-text-opacity));
                }
                input {
                    padding: .5rem;
                    border-radius: .375rem;
                    line-height: inherit;
                    color: inherit;
                    font-family: inherit;
                    font-size: 100%;
                    // width: 100%;
                    line-height: 1.15;
                    margin: 0;
                    border: none;
                    margin-bottom: 15px;
                    margin-top: 5px;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    flex-wrap: wrap;

                    li {
                        width: 25%;
                        input {
                            margin-right: 8px;
                        }       

                        @media(max-width: 950px) {
                            width: 50%;
                        }
                        
                        @media(max-width: 300px) {
                            width: 100%;
                        }

                    }
                }

                .btn-enviar {
                    background-color: rgb(15, 169, 71);
                    // border-radius: 5px;
                    height: 40px;
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    // direction: none;
                    margin-top: 10px;

                    // -webkit-user-drag: none;
                    box-sizing: border-box;
                    cursor: pointer;
                    // display: inline-block;
                    line-height: normal;
                    user-select: none;
                    vertical-align: middle;
                    // background-color: #e6e6e6;
                    border: transparent;
                    border-radius: 5px;
                    // color: rgba(0,0,0,.8);
                    font-size: 100%;
                    // padding: .5em 1em;
                    text-decoration: none;
                }

                .btn-enviar:hover {
                    background-color: rgb(20, 189, 82);
                }
            }
        
    }
}