.monitoramento {
    color: white;
    height: 85vh;
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
    font-family: Poppins,sans-serif;
    background-image: url(../img/blue_fundo.jpg);
    // background-image: url('https://imgix.tractian.com/images/ondas.svg');
    
    .box-monitoramento {
        height: 38vh;
        margin-top: 20vh;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-direction: column;
        // border: 1px solid red;
    }
    

    .btn-demonstracao {
        background-color: rgb(15, 169, 71);
        // border-radius: 5px;
        height: 40px;
        width: 150px;
        color: white;
        font-weight: 500;
        // direction: none;

        // -webkit-user-drag: none;
        box-sizing: border-box;
        cursor: pointer;
        // display: inline-block;
        line-height: normal;
        user-select: none;
        vertical-align: middle;
        // background-color: #e6e6e6;
        border: transparent;
        border-radius: 5px;
        // color: rgba(0,0,0,.8);
        font-size: 100%;
        // padding: .5em 1em;
        text-decoration: none;
    }

    p {
        font-weight: 300;
    }

    .btn-demonstracao:hover {
        background-color: rgb(20, 189, 82);
        // background-color: rgb(15, 169, 71);
    }
    
    .icon-capterra {
        width: 70px;
        padding-left: 10px;
    }
    
    .col-6 {
        width: 50%;
    }
    
    h1 {
        // color:white;
        font-size: 2.25rem;
        font-weight: 500;
    }
    
    .row-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .teste-borda {
        border: solid 1px green;
    }

}